services:
  app_proxy:
    environment:
      APP_HOST: acalatrava-bfgminer_server_1
      APP_PORT: 3000

  server:
    build:
      context: https://github.com/acalatrava/umbrel-appstore.git#8a4d789c9c20bbda7554a22fbcadf12cf73e32c4:acalatrava-luckyminer
      dockerfile: Dockerfile
    init: true
    volumes:
      - ${APP_DATA_DIR}/data:/app/data
    devices:
      - /dev/dri:/dev/dri
    privileged: true
    environment:
      - NODE_ENV=production
