services:
  app_proxy:
    environment:
      APP_HOST: acalatrava-luckyminer_server_1
      APP_PORT: 3000

  server:
    image: ghcr.io/acalatrava/luckyminer:v1.0.5
    init: true
    volumes:
      - ${APP_DATA_DIR}/data:/app/data
    devices:
      - /dev/dri:/dev/dri
    privileged: true
    environment:
      - NODE_ENV=production
